RewriteEngine On

# BACKEND
RewriteCond %{REQUEST_URI} ^/API/public/ [NC]
RewriteRule ^API/public/(.*)$ API/public/index.php [QSA,L]

# REACT SPA
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# OTHERS FROM FRONTEND.
RewriteRule ^ index.php [QSA,L]