/*--------------------MONTSERRAT--------------------*/
@font-face {
  font-family:Montserrat-Regular;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}@font-face {
  font-family:Montserrat-Light;
  src: url(../fonts/Montserrat/Montserrat-Light.ttf) format('truetype');
}@font-face {
  font-family:Montserrat-SemiBold;
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype');
}@font-face {
  font-family:Montserrat-Bold;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}@font-face {
  font-family:Montserrat-ExtraBold;
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf) format('truetype');
}

/*--------------------POPPINS--------------------*/
@font-face {
  font-family:Poppins-Regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}@font-face {
  font-family:Poppins-Light;
  src: url(../fonts/Poppins/Poppins-Light.ttf) format('truetype');
}@font-face {
  font-family:Poppins-Bold;
  src: url(../fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}