/* ------------------------------------------------------------------------------------------ */
/* ---------------------------------------- MENU BARS --------------------------------------- */
/* ------------------------------------------------------------------------------------------ */
/* THE FUTURE MENU BARS */
/* @media screen and (max-width: 720px){
    .menu{
        opacity: 0;
        transition: 1s ease-in-out;
        display: none;
    }
    .toggle{
        opacity: 1;
    }
} */

/* ------------------------------------------------------------------------------------------ */
/* ---------------------------------------- INDEX ------------------------------------------- */
/* ------------------------------------------------------------------------------------------ */

/*---------------------------------1366 WIDTH-------------------------*/
@media screen and (max-width: 1366px){
    .menu a {
        font-size: 14px;
    }
    .welcome p {
        padding: 50vh 0%;
    }
    .about-us {
        padding: 15% 7%;
    }
    .how-works {
        padding: 15% 7%;
    }
    .contact-us {
        padding: 10% 4% 10% 6%;
    }
}

/*---------------------------------1290 WIDTH-------------------------*/
@media screen and (max-width: 1290px){
    /* NOTHING */
}

/*---------------------------------1090 WIDTH-------------------------*/
@media screen and (max-width: 1090px){
    .toggle {
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .menu {
        display: none;
    }
}

/*---------------------------------900 WIDTH-------------------------*/
@media screen and (max-width: 900px){
    
}

/*---------------------------------815 WIDTH-------------------------*/
@media screen and (max-width: 815px){

}

/*---------------------------------720 WIDTH-------------------------*/
@media screen and (max-width: 720px){

}

/*---------------------------------615 WIDTH-------------------------*/
@media screen and (max-width: 615px){

}

/*---------------------------------419 WIDTH -------------------------*/
@media screen and (max-width: 419px){
    
}