/* ------------------------------------------------------------------------------------------ */
/* ---------------------------------------- MENU BARS --------------------------------------- */
/* ------------------------------------------------------------------------------------------ */
/* THE FUTURE MENU BARS */
/* @media screen and (max-width: 720px){
    .menu{
        opacity: 0;
        transition: 1s ease-in-out;
        display: none;
    }
    .toggle{
        opacity: 1;
    }
} */

/* ------------------------------------------------------------------------------------------ */
/* ---------------------------------------- INDEX ------------------------------------------- */
/* ------------------------------------------------------------------------------------------ */

/*---------------------------------1366 WIDTH-------------------------*/
@media screen and (max-width: 1366px){
    .menu a {
        font-size: 14px;
    }
    .welcome p {
        padding: 50vh 0%;
    }
    .about-us {
        padding: 15% 7%;
    }
    .how-works {
        padding: 15% 7%;
    }
    .contact-us {
        padding: 10% 4% 10% 6%;
    }
}

/*---------------------------------1290 WIDTH-------------------------*/
@media screen and (max-width: 1290px){
    /* NOTHING */
}

/*---------------------------------1090 WIDTH-------------------------*/
@media screen and (max-width: 1090px){
    .toggle{
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .menu{
        display: none;
    }

    .how-works{
        display: none;
    }
    .how-works-alt{
        display: flex;
    }

    .contact-us{
        display: none;
    }

    .contact-us-alt{
        line-height: 2;
        display: block;
    }.contact-us-alt div img{
        display: block;
        margin: auto;
        max-width: 40%;
    }

    .contact-us-form{
        max-width: 50%;
        display: block !important;
        margin: 2vh auto;
    }.contact-us-form p{
        margin: 0px auto 1vh auto;
    }
}

/*---------------------------------900 WIDTH-------------------------*/
@media screen and (max-width: 900px){
    .contact-us-alt div {
        flex-direction: column;
    }
}

/*---------------------------------815 WIDTH-------------------------*/
@media screen and (max-width: 815px){
    .contact-us-form {
        max-width: 70%;
    }
    .contact-us-alt div img {
        max-width: 60%;
    }
}

/*---------------------------------720 WIDTH-------------------------*/
@media screen and (max-width: 720px){

    .logoWelcome{
        width: 50%;
    }

    .menu-elements a{
        font-size: 20px;
    }
    
    .how-works-col-container {
        flex-direction: column-reverse;
    }
    .how-works-col img {
        max-height:50vh ;
        margin: auto;
    }.how-works-col p{
        margin-top: 3vh;
    }
    
    .about-us-col-container {
        flex-direction: column;
    }.about-us-col-container :nth-child(2){
        display: flex;
        flex-direction: column-reverse;
    }
}

/*---------------------------------615 WIDTH-------------------------*/
@media screen and (max-width: 615px){
    .about-us-col img {
        max-width: 60%;
    }
    .how-works-col img {
        max-width: 80%;
        max-height: 40vh;
    }
    .contact-us-form {
        max-width: 80%;
    }
    .contact-us-alt div img {
        max-width: 70%;
    }
}

/*---------------------------------419 WIDTH -------------------------*/
@media screen and (max-width: 419px){
    .about-us{
        padding: 15% 5%;
    }.about-us h1:nth-child(1) {
        font-size: 30px;
    }.about-us p{
        font-size: 12px;
    }

    .how-works-alt{
        padding: 15% 5%;
    }.how-works-alt h1{
        font-size: 30px;
    }.how-works-alt p{
        font-size: 12px;
    }.how-works-col img {
        max-height: 30vh;
    }

    .welcome p {
        font-size: 50px;
    }

    .contact-us-alt{
        padding: 15% 5%;
    }.contact-us-alt h1{
        font-size: 30px;
    }.contact-us-alt p{
        font-size: 12px;
    }.contact-us-form {
        max-width: 90%;
    }.contact-us-form button {
        font-size: 10px;
    }
}

/* ----------------------------------------------------------------------------------------------- */
/* ---------------------------------------- LOGIN.HTML ------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/*---------------------------------1366 WIDTH-------------------------*/
@media screen and (max-width: 1366px){
    /* NOTHING */
}

/*---------------------------------1290 WIDTH-------------------------*/
@media screen and (max-width: 1290px){
    /* NOTHING */
}

/*---------------------------------1090 WIDTH-------------------------*/
@media screen and (max-width: 1090px){
    .login {
        width: 60%;
    }
}

/*---------------------------------900 WIDTH-------------------------*/
@media screen and (max-width: 900px){
    .login {
        height: 70%;
        width: 70%;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
    }
}

/*---------------------------------815 WIDTH-------------------------*/
@media screen and (max-width: 815px){
    .input-box i {
        left: 80%;
    }
}

/*---------------------------------720 WIDTH-------------------------*/
@media screen and (max-width: 720px){
    .login h1 {
        font-size: 35px;
    }
    .login-form {
        width: 70%;
    }
}

/*---------------------------------615 WIDTH-------------------------*/
@media screen and (max-width: 615px){
    .login .input-box p {
        font-size: 15px;
    }
    .login .register-link {
        font-size: 15px;
    }
    .login .btn {
        font-size: 15px;
    }
}

/*---------------------------------419 WIDTH -------------------------*/
@media screen and (max-width: 419px){
    .login {
        height: 60%;
        width: 90%;
    }
    .login-form {
        width: 80%;
    }
    .login h1 {
        font-size: 30px;
    }
    .login .input-box p {
        font-size: 12px;
    }
    .input-box input::placeholder {
        font-size: 10px;
    }
}

/* -------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- LOGGEDIN.HTML ------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/*---------------------------------1366 WIDTH-------------------------*/
@media screen and (max-width: 1366px){
    .user-info-col h2{
        font-size: 20px;
    }
    .user-personal-data li h3 {
        font-size: 18px;
    }
    .user-personal-data li p {
        font-size: 15px;
    }
    .user-personal-data button {
        font-size: 18px;
    }
    .user-requests button {
        font-size: 18px;
    }
    .user-requests p {
        font-size: 15px;
    }
}

/*---------------------------------1290 WIDTH-------------------------*/
@media screen and (max-width: 1290px){
    .menu-logged a {
        font-size: 14px;
    }
}

/*---------------------------------1090 WIDTH-------------------------*/
@media screen and (max-width: 1090px){
    .menu-logged {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .menu-logged.active {
        display: none;
    }
    .menu {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .user-info-col h2 {
        font-size: 18px;
    }
    .user-info {
        padding: 2% 5%;
    }
    .user-personal-data li h3 {
        font-size: 15px;
    }
    .user-personal-data li p {
        font-size: 13px;
    }
    .user-personal-data button {
        font-size: 15px;
    }
    .user-requests button {
        font-size: 15px;
    }
    .buttons-container button {
        width: 30%;
        font-size: 18px;
    }
}

/*---------------------------------900 WIDTH-------------------------*/
@media screen and (max-width: 900px){
    .user-info-col-container {
        flex-direction: column;
    }
    .user-info {
        padding: 5% 15%;
    }
    .user-info-col:nth-child(1) {
        margin-bottom: 10vh;
    }
    .user-info-col h2 {
        font-size: 25px;
    }
    .user-personal-data li h3 {
        font-size: 18px;
    }
    .user-personal-data li p {
        font-size: 15px;
    }
}

/*---------------------------------815 WIDTH-------------------------*/
@media screen and (max-width: 815px){
    .user-info {
        padding: 5% 10%;
    }
    .loged-in-container h1 {
        padding-top: 13vh;
    }
}

/*---------------------------------720 WIDTH-------------------------*/
@media screen and (max-width: 720px){
    /* NOTHING */
}

/*---------------------------------615 WIDTH-------------------------*/
@media screen and (max-width: 615px){
    .user-info-col h2 {
        font-size: 22px;
    }
    .user-personal-data li h3 {
        font-size: 15px;
    }
    .user-personal-data li p {
        font-size: 14px;
    }
}

/*---------------------------------419 WIDTH -------------------------*/
@media screen and (max-width: 419px){
    .loged-in-container h1 {
        font-size: 20px;
    }
    .user-info-col h2 {
        font-size: 15px;
    }
    .user-personal-data li h3 {
        font-size: 12px;
    }
    .user-personal-data li p {
        font-size: 11px;
    }
    .user-personal-data button {
        font-size: 12px;
    }
    .user-requests p {
        font-size: 12px;
    }
    .user-requests button {
        font-size: 12px;
    }
    .buttons-container button {
        font-size: 14px;
    }
    .footer {
        font-size: 8px;
    }
    .header-logo {
        height: 20px;
    }
    .bar {
        height: 3px;
    }
    .toggle {
        width: 30px;
    }
    .bar--top {
        bottom: calc(50% + 2px + 12px/ 2);
    }
    
    .bar--middle {
        top: calc(50% - 1px);
    }
      
    .bar--bottom {
        top: calc(50% + 3px + 12px/ 2);
    }
}

/* ----------------------------------------------------------------------------------------- */
/* ---------------------------------------- ADDPOINT.HTML ---------------------------------- */
/* ----------------------------------------------------------------------------------------- */

/*---------------------------------1366 WIDTH-------------------------*/
@media screen and (max-width: 1366px){
    .add-point-form {
        width: 70%;
    }
    .add-point {
        padding: 13vh 10%;
        gap: 5vh;
    }
}

/*---------------------------------1290 WIDTH-------------------------*/
@media screen and (max-width: 1290px){
    /* NOTHING */
}

/*---------------------------------1090 WIDTH-------------------------*/
@media screen and (max-width: 1090px){
    .add-point-form {
        width: 80%;
    }
}

/*---------------------------------900 WIDTH-------------------------*/
@media screen and (max-width: 900px){

}

/*---------------------------------815 WIDTH-------------------------*/
@media screen and (max-width: 815px){

}

/*---------------------------------720 WIDTH-------------------------*/
@media screen and (max-width: 720px){

}

/*---------------------------------615 WIDTH-------------------------*/
@media screen and (max-width: 615px){

}

/*---------------------------------419 WIDTH -------------------------*/
@media screen and (max-width: 419px){

}

/* -------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- RESPONSIVE RESOLUTIONS ---------------------------------- */
/* -------------------------------------------------------------------------------------------------- */

/*---------------------------------1366 WIDTH-------------------------*/
@media screen and (max-width: 1366px){

}

/*---------------------------------1290 WIDTH-------------------------*/
@media screen and (max-width: 1290px){
    
}

/*---------------------------------1090 WIDTH-------------------------*/
@media screen and (max-width: 1090px){

}

/*---------------------------------900 WIDTH-------------------------*/
@media screen and (max-width: 900px){

}

/*---------------------------------815 WIDTH-------------------------*/
@media screen and (max-width: 815px){

}

/*---------------------------------720 WIDTH-------------------------*/
@media screen and (max-width: 720px){

}

/*---------------------------------615 WIDTH-------------------------*/
@media screen and (max-width: 615px){

}

/*---------------------------------419 WIDTH -------------------------*/
@media screen and (max-width: 419px){

}