/* 
https://www.psico.ucr.ac.cr/images/recursos/2019_manual-identidad-visual-web.pdf
*/
:root{

	--azul:#005da4;
	--blanco: #ffffff;
	--grisClaro: #ececec;
	--grisOscuro: #bfc4d4;
	--cafe1: #B76E11;
	--celeste:#00c0f3;
	--celeste2:#8ed8f8;
	--celeste3:#bad2cd;
    --celeste4:#80a9ba;
	--naranja1:#e5b365;
	--naranja2:#f99d1c;
	--negro: #000000;
	--rojo: #fc2323;
}
/* ------------------------------GENERAL------------------------------ */
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.general-container {
	width: 100%;
	max-height: 100vh;
	min-height: 100vh;
}
.navbar {
	position: fixed;
	background-color: rgba(17, 26, 28, 0.6);
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	height: 8vh;
	z-index: 20;
}

.logo-container{
	display: flex;
	align-items: center;
	height: 8vh;
	margin-left: 5%;
}

.header-logo{
	height: 30px;
}

.menu{
	display: flex;
	align-items: center;
	float: right;
}.menu a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	margin-right: 3em;
	transition: all 250ms ease;
}.menu a:hover{
	transform: scale(1.1);
	transition: all 250ms ease;
}

.menu-logged{
	display: none;
	/* display: flex; */
	align-items: center;
	float: right;
}.menu-logged a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	margin-right: 3em;
	transition: all 250ms ease;
}.menu-logged a:hover{
	transform: scale(1.1);
	transition: all 250ms ease;
}

/* MENU BARS */
#checkbox {
	display: none;
}
  
.toggle {
	visibility: hidden;
	opacity: 0;
	position: relative;
	width: 40px;
	cursor: pointer;
	display: none;
	height: calc(4px * 3 + 11px * 2);
	margin-right: 5%;
	height: 100%;
	z-index: 23;
}
  
.bar {
	position: absolute;
	left: 0;
	right: 0;
	height: 4px;
	border-radius: calc(4px / 2);
	background: var(--blanco);
	color: inherit;
	opacity: 1;
	transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}
  
/***** Spin Animation *****/
  
.bar--top {
	bottom: calc(50% + 11px + 4px/ 2);
	transition-property: bottom,transform;
	transition-delay: calc(0s + 0.35s),0s;
}

.bar--middle {
	top: calc(50% - 4px/ 2);
	transition-property: opacity;
	transition-delay: calc(0s + 0.35s);
}
  
.bar--bottom {
	top: calc(50% + 11px + 4px/ 2);
	transition-property: top,transform;
	transition-delay: calc(0s + 0.35s),0s;
}

#checkbox:checked + .toggle .bar--top {
	bottom: calc(50% - 4px/ 2);
	transform: rotate(135deg);
	transition-delay: 0s,calc(0s + 0.35s);
}
  
#checkbox:checked + .toggle .bar--middle {
	opacity: 0;
	transition-duration: 0s;
	transition-delay: calc(0s + 0.35s);
}
  
#checkbox:checked + .toggle .bar--bottom {
	top: calc(50% - 4px/ 2);
	transform: rotate(225deg);
	transition-delay: 0s,calc(0s + 0.35s);
}

/* Once clicked the toggle button designed abovee*/
.menu-bars-background{
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 0%;
    transition: all 500ms ease;
    visibility: hidden;
    opacity: 0;
    z-index: 22;
}.menu-bars-background.active{
    transition: all 500ms ease;
    visibility: visible;
    opacity: 1;
	height: 100%;
}

.menu-elements{
	padding: 30vh 0px;
    width: 100%;
    height: 100vh;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 750ms ease;
    z-index: 22;
    visibility: hidden;
    opacity: 0;
    display: none;
}.menu-elements.active{
	visibility: visible;
	opacity: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}.menu-elements a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: var(--blanco);
    border-left: 5px solid transparent ;
    transition: all 400ms ease;
}.menu-elements a:hover{
    cursor: pointer;
}

/* LOADER */
.web-loader{
	background-color: #fff;
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 21;
	transition: 1s ease-in-out;
 }
.logoWelcome{
    display: block;
	margin: 22% auto;
    width: 30%;
}

.footer-container{
	bottom: 0;
    overflow: hidden;
    background-color: #000000;
    padding: 1em 1em;
}.footer{
	color: #fff;
	font-size: 12px;
}

/* ------------------------------FORMAT------------------------------ */
.justify_text{
	text-align: justify;
}
.justify_right{
	float: right;
	text-align: right;
}
.center-text{
	text-align: center;
}

/* ------------------------------FONTS------------------------------ */
.Montserrat-Regular{
	font-family:Montserrat-Regular !important;
}.Montserrat-Light{
	font-family:Montserrat-Light !important;
}.Montserrat-SemiBold{
	font-family:Montserrat-SemiBold !important;
}


/* ------------------------------index.html------------------------------ */

.index-background{
	width: 100%;
	max-height: 100vh;
	min-height: 100vh;
	background-image: linear-gradient(rgba(166, 195, 227, 0.5),
			rgba(166, 195, 227, 0.5)), url(../images/index-background.png);
	background-size:cover;
	background-repeat: no-repeat;
}

.index-container{
	margin: auto;
	min-height: 100vh;
}

.welcome {
	height: 100vh;
}.welcome p{
	font-weight: bold;
	font-size: 70px;
	color: rgba(255, 255, 255, 0.9);
	padding: 25% 0%;
}

.A-container{
	min-height: 60vh;
	background-color: var(--grisClaro);
}
.B-container{
	min-height: 60vh;
	background-color: var(--naranja2);
}


/* ABOUT US */
.about-us{
	padding: 15% 10%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}.about-us-col-container{
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 20px;
}.about-us-col{
	text-align: justify;
	line-height: 2;
	flex: 1;
	padding: 10px;
}.about-us-col img{
	box-shadow: rgba(80, 80, 80, 0.58) 0px 0px 20px 0px;
	max-width: 90%;
	margin: 5% auto;
	display: block;
	border-radius: 8px;
	max-height: 50vh;
}.about-us h1:nth-child(1){
	font-size: 40px;
	width: 100%;
	padding: 10px;
}

/* HOW WORKS */
.how-works{
	padding: 15% 10%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}.how-works-col-container{
	display: flex;
	flex-direction: row;
	gap: 20px;
}.how-works-col{
	text-align: justify;
	line-height: 2;
	flex: 1;
	padding: 10px;
}.how-works-col img{
	box-shadow: rgba(27, 27, 27, 0.58) 0px 0px 20px 0px;
	max-width: 90%;
	margin: 10% auto;
	display: block;
	border-radius: 8px;
	max-height: 60vh;
}.how-works h1:nth-child(1){
	font-size: 40px;
	width: 100%;
	padding: 10px;
}

/* CONTACT US */
.contact-us{
	padding: 10% 4% 10% 10%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}.contact-us p{
	margin: 5% 0px;
	text-align: justify;
	line-height: 1.5;
}.contact-us div:nth-child(1){
	margin: 5% 0px;
}.contact-us div:nth-child(2) img{
	width: 90%;
	display: block;
	margin: auto;
	box-shadow: rgba(51, 51, 51, 0.58) 0px 0px 20px 0px;
}.contact-us div:nth-child(2){
	margin: 5%;
}

.contact-us-form{
	margin: 5% 0px;
	padding: 0px 0px 5% 0px;
	box-shadow: rgba(51, 51, 51, 0.58) 0px 0px 20px 0px;
	background-color: var(--blanco);
	width: 100%;
	border-radius: 8px;
}.contact-us-form span{
	display: block;
}.contact-us-form p{
	font-size: 20px;
	display: block;
	margin: 2% auto;
	background-color: var(--azul);
	color: var(--blanco);
	padding: 20px;
	border-radius: 8px 8px 0px 0px;
	width: 100%;
}.contact-us-form input{
	font-size: 15px;
	color: var(--negro);
	padding: 2%;
    border: none;
    outline: none;
    background: none;
	display: block;
	margin: auto;
	width: 100%;

}.contact-us-form textarea{
	font-size: 15px;
	padding: 5% 2%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid  var(--blanco);
    color: var(--negro);
	display: block;
	margin: auto;
	width: 100%;
	resize:none;
}.contact-us-form button{
	font-size: 15px;
	display: block;
	margin:auto;
	width: 40%;
    border-radius: 8px;
	border: none;
	padding: 10px;
    transition: all 500ms ease;
	background-color: var(--grisOscuro);

}.contact-us-form button:hover{
	cursor: pointer;
	background-color: var(--negro);
	color: var(--blanco);
}



/* ------------------------------login.html------------------------------ */

.login-container{
	margin: auto;
	min-height: 100vh;
}

.login-background{
	width: 100%;
	max-height: 100vh;
	min-height: 100vh;
	background-image: linear-gradient(rgba(166, 195, 227, 0.5),
			rgba(166, 195, 227, 0.5)), url(../images/login-background.png);
	background-size:cover;
	background-repeat: no-repeat;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	border: 0;
	outline: 0;
	border-radius: 5px;
	background: white;
	color: rgba(70, 185, 218, 0.8);
	font-weight: bold;
	cursor: pointer;
}
.login {
	display: flex;
	width: 900px;
	height: 420px;
	align-items: center;
	background-color: rgba(17, 26, 28, 0.6);
	color: #fff;
	box-shadow: 10px 13px 10px 5px rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.login h1 {
	font-size: 2.3em;
	text-align: center;
	position: relative;
	top: 5px;
}

.login form {
	width: 900px;
	height: 380px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login .input-box {
	position: relative;
	width: 70%;
	height: 50px;
	margin: 30px 0px;
	background-color: black;
	border-radius: 10px;
}

.input-box input {
	width: 100%;
	height: 50px;
	background-color: rgba(33, 182, 246, 0.85);
	border-radius: 10px;
	padding: 20px;
	color: #fff;
}

.input-box input::placeholder {
	color: #fff;
}

.input-box i {
	position: absolute;
	left: 90%;
	margin: 16px;
}

.login .remember-forgot {
	display: flex;
	justify-content: space-between;
	width: 627px;
	height: 70px;
	font-size: 1.2em;
}.remember-forgot a{
	color: var(--grisClaro);
}.remember-forgot a:hover{
	color: var(--rojo);
}

.login .btn {
	width: 25%;
	padding: 10px;
	border-radius: 10px;
	margin: 15px;
	transition: all 250ms ease;
}.login .btn:hover {
	cursor: pointer;
	background-color: var(--azul);
	color: var(--blanco);
	transition: all 250ms ease;
}

.login .register-link {
	font-size: 1.1em;
	text-align: center;
	margin: 5px;
}

.register-link p a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.register-link p a:hover {
	text-decoration: underline;
}

/* ------------------------------register.html------------------------------ */
.register-container{
	margin: auto;
	min-height: 100vh;
}
.register-background{
	width: 100%;
	max-height: 100vh;
	min-height: 100vh;
	background-image: linear-gradient(rgba(166, 195, 227, 0.5),
			rgba(166, 195, 227, 0.5)), url(../images/register-background.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}

.register-form {
	display: flex;
	width: 900px;
	height: 720px;
	align-items: center;
	background-color: rgba(17, 26, 28, 0.6);
	color: #fff;
	box-shadow: 10px 13px 10px 5px rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.register-form h1 {
	font-size: 2.3em;
	text-align: center;
}.register-form form {
	width: 900px;
	height: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
  position: relative;
  top: -100px;
}.register-form .input-box {
	position: relative;
	width: 70%;
	height: 50px;
	margin: 20px 0px;
	background-color: black;
	border-radius: 10px;
}.register-form input {
	width: 100%;
	height: 50px;
	background-color: rgba(33, 182, 246, 0.85);
	border-radius: 10px;
	color: #fff;
}.register-form input::placeholder {
	color: #fff;
}

.register-form .btn{
	transition: all 250ms ease;
}.register-form .btn:hover{
	cursor: pointer;
	background-color: var(--azul);
	color: var(--blanco);
	transition: all 250ms ease;
}


/* ------------------------------map.html------------------------------ */
.map-container{
	margin: auto;
	min-height: 100vh;
  	position: relative;
}.map-container h1{
	padding-top: 5%;
}

.map {
	box-shadow: rgba(80, 80, 80, 0.58) 0px 0px 20px 0px;
	display: block;
	margin: 20px auto 0px auto;
  	width: 90%;
	min-height: 80vh;
	z-index: 0;
}

.leaflet-control-layers-base input{
	margin-right: 10px;
}

.leaflet-control-attribution{
	display: none;
}


/* ------------------------------Marker------------------------------ */
#cont {
  background-color: white;
  height: 80px;
  width: 200px;
}

.show_point {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* ------------------------------logged.html------------------------------ */

.loged-in-container{
	margin: auto;
	min-height: 100vh;
}.loged-in-container h1{
	padding-top: 10%;
}

.user-info{
	padding: 2% 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
	min-height: 60vh;
}

.user-info-col-container{
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.user-info-col{
	background-color: var(--grisOscuro);
	box-shadow: rgba(80, 80, 80, 0.58) 0px 0px 20px 0px;
	border-radius: 8px;
	text-align: justify;
	line-height: 2;
	flex: 1;
	padding: 10px;
	min-height: 50vh;
}

.user-personal-data{
	margin: 5% 10%;
}.user-personal-data button{
	border: 4px solid transparent;
	width: 50%;
	display: block;
	background-color: var(--azul);
	font-size: 20px;
	margin: 5% auto;
	padding: 2%;
	border-radius: 8px;
	color: var(--blanco);
	transition: all 250ms ease;
}.user-personal-data button:hover{
	background-color: var(--blanco);
	border: 4px solid var(--negro);
	color: var(--negro);
	cursor: pointer;
	transition: all 250ms ease;
}

.user-requests{
	padding: 5% 10%;
}.user-requests li, ul{
	list-style: none !important;
	text-decoration: none;
}.user-requests li{
	border: 4px solid transparent;
	width: 100%;
	background-color: var(--azul);
	font-size: 20px;
	margin: 5% auto;
	border-radius: 8px;
	color: var(--blanco);
	transition: all 250ms ease;
}.user-requests li:hover{
	background-color: var(--blanco);
	border: 4px solid var(--negro);
	color: var(--negro);
	cursor: pointer;
	transition: all 250ms ease;
}

.buttons-container {
    display: flex;
    margin: 2% auto;
    justify-content: center;
    gap: 20%;
}.buttons-container button{
	border: 4px solid transparent;
	width: 20%;
	padding: 2%;
	background-color: var(--azul);
	font-size: 20px;
	border-radius: 8px;
	color: var(--blanco);
	transition: all 250ms ease;
}.buttons-container button:hover{
	background-color: var(--blanco);
	border: 4px solid var(--negro);
	color: var(--negro);
	cursor: pointer;
	transition: all 250ms ease;
}