Options -Indexes

RewriteEngine On
RewriteBase /

# Si el archivo o carpeta existe, sírvelo normalmente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Si no existe, manda todo al index.html
RewriteRule ^ index.html [L]