<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Se necesita guardar la foto de geolocalización en la galería.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Se necesita el acceso a la galería para la solicitud de análisis.</string>
    <key>NSCameraUsageDescription</key>
    <string>Geoterra necesita acceder a la cámara para documentar las manifestaciones geológicas.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Necesitamos tu ubicación para georreferenciar las fotografías tomadas.</string>
</dict>
</plist>
