<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Si el archivo solicitado existe (JS, CSS, Imágenes), servirlo normalmente
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule . - [L]

  # 2. Si el archivo NO existe, mandar todo al index.html
  # Esto permite que React Router/Vue Router manejen las rutas internamente
  RewriteRule ^ index.html [L]
</IfModule>